__history/
LanguageFiles/
*.dcu
*.local
*.~dsk
*.dsk
*.identcache
*.exe
*.rsm
*.txt
Win32/Debug/en_US.dic
Win32/Debug/en_US_k.dic
Win32/Debug/IgnoreWords.dic
Win32/Debug/test.pas
Win32/Release/test.pas
